.navigation-bar {
    padding: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: $color-white;

    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);

    @include respond(tab-land) {
        padding: 1rem;
    }

    @include respond(tab-port) {
        height: 7rem;
    }

    &__logo {
        position: absolute;
        top: 0;
        height: 10rem;

        @include respond(tab-land) {
            height: 6.5rem;
        }
    }


    &__list {
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond(tab-port) {
            display: none;

            position: absolute;
            top: 7rem;
            left: 0rem;
            right: 0rem;
            background-color: $color-white;
            flex-direction: column;
        }

        &--link {
            text-decoration: none;
        }

        &-item {
            list-style-type: none;

            padding: 1rem 3rem;
            
            color: $color-black;
            font-size: 1.4rem;
            font-weight: 700;
            letter-spacing: 0.2rem;

            &:hover {
                cursor: pointer;
                color: $color-grey-dark-2;
            }

        }
    }

    &__slogan {
        display: none;
        font-size: 3rem;
        text-align: center;
        text-transform: uppercase;
        color: $color-black;

        @include respond(tab-port) {
            display: block;
        }

    }

    &__menu-icon {
        position: absolute;
        top: 1rem;
        right: 2rem;
        width: 5rem;
        height: 5rem;
        color: black;

        display: none;
        z-index: 10000;

        @include respond(tab-port) {
            display: block;
        }

    }
}