.section-contact {
    background-color: $color-grey-light-1;
    padding: 5rem 0rem 0rem;

    margin: 0 auto;
    // This is so the video can be occupying more of the view
    // Because the navigation bar is fixed.
    margin-top: 6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    & .paragraph {
        text-align: center;
    }

    &--email {
        font-size: 1.2rem;
        font-weight: 900;
    }

    &--slogan {
        font-size: 1.4rem;
    }

    &--image {
        width: 100%;
    }

}