.section-company {
    padding: 5rem 0rem;

    width: 40%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond(tab-land) {
        width: 60%;
    }

    @include respond(tab-port) {
        width: 80%;
    }

}

.section-projects {
    width: 100%;
    background-color: $color-grey-light-2;
}

.section-gallery {
    padding: 5rem 0rem;
    width: 100%;
    background-color: $color-grey-light-1;
}

.section-photo-parallax {
    height: 30vh;
}

.section-youtube {
    background-color: $color-grey-light-1;
    padding: 5rem 0rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-videos {
        width: 100%;

        display: flex;
        justify-content: space-around;
        align-items: center;

        
        @include respond(tab-port) {
            flex-wrap: wrap;
        }
        
        & > * {
            margin: 2rem;
        }
    }

}